In [31]:
%pip install pandas lxml --upgrade

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (5.3.0)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [53]:
%pip install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (24.3.1)
Note: you may need to restart the kernel to use updated packages.

In [32]:
# lxml is a dependency of pandas, and it is used to parse HTML tables, meaning it is an analytical software.

In [33]:
import pandas as pd

In [34]:
URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [35]:
tables = pd.read_html(URL) # In this case, 'tables' is no longer a soup object, but a list of dataframes/spreadsheet.

In [36]:
# The .read_html() function automatically finds, parses, and extracts the <table> tags from the identified web page, turning each table into a dataframe.

In [37]:
tables[0]

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.40,NaN,Pan Zhanle,China,31 July 2024,Olympic Games,"Paris, France",[13]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[14][15][16]
3,400m freestyle,3:40.07,ss,Paul Biedermann,Germany,26 July 2009,World Championships,"Rome, Italy",[17][18][19]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[20][21]
5,1500m freestyle,14:30.67,NaN,Bobby Finke,United States,4 August 2024,Olympic Games,"Paris, France",[22] [23]
6,50m backstroke,23.55,sf,Kliment Kolesnikov,Russia,27 July 2023,Russian Cup,"Kazan, Russia",[24]
7,100m backstroke,51.60,NaN,Thomas Ceccon,Italy,20 June 2022,World Championships,"Budapest, Hungary",[26][27]
8,200m backstroke,1:51.92,ss,Aaron Peirsol,United States,31 July 2009,World Championships,"Rome, Italy",[28][29][30]
9,50m breaststroke,25.95,sf,Adam Peaty,Great Britain,25 July 2017,World Championships,"Budapest, Hungary",[31][32]
10,100m breaststroke,56.88,sf,Adam Peaty,Great Britain,21 July 2019,World Championships,"Gwangju, South Korea",[33][34]
11,200m breaststroke,2:05.48,NaN,Qin Haiyang,China,28 July 2023,World Championships,"Fukuoka, Japan",[35] [36]
12,50m butterfly,22.27,NaN,Andriy Govorov,Ukraine,1 July 2018,Sette Colli Trophy,"Rome, Italy",[37][38]
13,100m butterfly,49.45,NaN,Caeleb Dressel,United States,31 July 2021,Olympic Games,"Tokyo, Japan",[39][40]
14,200m butterfly,1:50.34,NaN,Kristóf Milák,Hungary,21 June 2022,World Championships,"Budapest, Hungary",[41][42]
15,200m individual medley,1:54.00,NaN,Ryan Lochte,United States,28 July 2011,World Championships,"Shanghai, China",[43][44][45]
16,400m individual medley,4:02.50,NaN,Léon Marchand,France,23 July 2023,World Championships,"Fukuoka, Japan",[46] [47]
17,4 × 100 m freestyle relay,3:08.24,ss,Michael Phelps (47.51)Garrett Weber-Gale (47.0...,United States,11 August 2008,Olympic Games,"Beijing, China",[48][49][50]
18,4 × 200 m freestyle relay,6:58.55,ss,Michael Phelps (1:44.49)Ricky Berens (1:44.13)...,United States,31 July 2009,World Championships,"Rome, Italy",[51][52]
19,4 × 100 m medley relay,3:26.78,NaN,Ryan Murphy (52.31)Michael Andrew (58.49)Caele...,United States,1 August 2021,Olympic Games,"Tokyo, Japan",[53] [54]

In [38]:
tables[0].head() # The .head() function is used to display the first 5 rows of the dataframe, by default.

,Event,Time,Unnamed: 2,Name,Nationality,Date,Meet,Location,Ref
0,50m freestyle,20.91,ss,César Cielo,Brazil,18 December 2009,Brazilian Championships,"São Paulo, Brazil",[9][10][11][12]
1,100m freestyle,46.40,NaN,Pan Zhanle,China,31 July 2024,Olympic Games,"Paris, France",[13]
2,200m freestyle,1:42.00,ss,Paul Biedermann,Germany,28 July 2009,World Championships,"Rome, Italy",[14][15][16]
3,400m freestyle,3:40.07,ss,Paul Biedermann,Germany,26 July 2009,World Championships,"Rome, Italy",[17][18][19]
4,800m freestyle,7:32.12,ss,Zhang Lin,China,29 July 2009,World Championships,"Rome, Italy",[20][21]

In [39]:
# The above numbering at the first coloumn is the index of the dataframe, which is automatically added.

In [40]:
df = tables[0][["Event", "Time"]] # df can be any variable, in this case, it is short for dataframe.

In [41]:
df.head()

            Event     Time
0   50m freestyle    20.91
1  100m freestyle    46.40
2  200m freestyle  1:42.00
3  400m freestyle  3:40.07
4  800m freestyle  7:32.12

In [42]:
df.to_dict() # The .to_dict() function is used to convert the dataframe into a dictionary.

{'Event': {0: '50m freestyle',
  1: '100m freestyle',
  2: '200m freestyle',
  3: '400m freestyle',
  4: '800m freestyle',
  5: '1500m freestyle',
  6: '50m backstroke',
  7: '100m backstroke',
  8: '200m backstroke',
  9: '50m breaststroke',
  10: '100m breaststroke',
  11: '200m breaststroke',
  12: '50m butterfly',
  13: '100m butterfly',
  14: '200m butterfly',
  15: '200m individual medley',
  16: '400m individual medley',
  17: '4 × 100 m freestyle relay',
  18: '4 × 200 m freestyle relay',
  19: '4 × 100 m medley relay'},
 'Time': {0: '20.91',
  1: '46.40',
  2: '1:42.00',
  3: '3:40.07',
  4: '7:32.12',
  5: '14:30.67',
  6: '23.55',
  7: '51.60',
  8: '1:51.92',
  9: '25.95',
  10: '56.88',
  11: '2:05.48',
  12: '22.27',
  13: '49.45',
  14: '1:50.34',
  15: '1:54.00',
  16: '4:02.50',
  17: '3:08.24',
  18: '6:58.55',
  19: '3:26.78'}}

In [43]:
df.tail() # The .tail() function is used to display the last 5 rows of the dataframe, by default.

                        Event     Time
15     200m individual medley  1:54.00
16     400m individual medley  4:02.50
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [44]:
df[df["Event"].str.contains("relay")] # The .str.contains() function is used to filter the dataframe based on a specific string.

                        Event     Time
17  4 × 100 m freestyle relay  3:08.24
18  4 × 200 m freestyle relay  6:58.55
19     4 × 100 m medley relay  3:26.78

In [45]:
df[~df["Event"].str.contains("relay")] # '~' means NOT in Pandas.

                     Event      Time
0            50m freestyle     20.91
1           100m freestyle     46.40
2           200m freestyle   1:42.00
3           400m freestyle   3:40.07
4           800m freestyle   7:32.12
5          1500m freestyle  14:30.67
6           50m backstroke     23.55
7          100m backstroke     51.60
8          200m backstroke   1:51.92
9         50m breaststroke     25.95
10       100m breaststroke     56.88
11       200m breaststroke   2:05.48
12           50m butterfly     22.27
13          100m butterfly     49.45
14          200m butterfly   1:50.34
15  200m individual medley   1:54.00
16  400m individual medley   4:02.50

In [46]:
df = df[~df["Event"].str.contains("relay")] # assign the selection to a variable.

In [47]:
df.to_dict("records") # Close to what we want, but not quite.

[{'Event': '50m freestyle', 'Time': '20.91'},
 {'Event': '100m freestyle', 'Time': '46.40'},
 {'Event': '200m freestyle', 'Time': '1:42.00'},
 {'Event': '400m freestyle', 'Time': '3:40.07'},
 {'Event': '800m freestyle', 'Time': '7:32.12'},
 {'Event': '1500m freestyle', 'Time': '14:30.67'},
 {'Event': '50m backstroke', 'Time': '23.55'},
 {'Event': '100m backstroke', 'Time': '51.60'},
 {'Event': '200m backstroke', 'Time': '1:51.92'},
 {'Event': '50m breaststroke', 'Time': '25.95'},
 {'Event': '100m breaststroke', 'Time': '56.88'},
 {'Event': '200m breaststroke', 'Time': '2:05.48'},
 {'Event': '50m butterfly', 'Time': '22.27'},
 {'Event': '100m butterfly', 'Time': '49.45'},
 {'Event': '200m butterfly', 'Time': '1:50.34'},
 {'Event': '200m individual medley', 'Time': '1:54.00'},
 {'Event': '400m individual medley', 'Time': '4:02.50'}]

In [ ]:
# Time to flex.

In [48]:
df = df.set_index("Event") # so, index is the sub-key, not the main key.
df.head()

                   Time
Event
50m freestyle     20.91
100m freestyle    46.40
200m freestyle  1:42.00
400m freestyle  3:40.07
800m freestyle  7:32.12

In [49]:
df.to_dict() # again, just returning the result.

{'Time': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [51]:
records = {} 
records["LC Men"] = df.to_dict()["Time"] # Change the main key. Using new main key = old main key.

In [52]:
records

{'LC Men': {'50m freestyle': '20.91',
  '100m freestyle': '46.40',
  '200m freestyle': '1:42.00',
  '400m freestyle': '3:40.07',
  '800m freestyle': '7:32.12',
  '1500m freestyle': '14:30.67',
  '50m backstroke': '23.55',
  '100m backstroke': '51.60',
  '200m backstroke': '1:51.92',
  '50m breaststroke': '25.95',
  '100m breaststroke': '56.88',
  '200m breaststroke': '2:05.48',
  '50m butterfly': '22.27',
  '100m butterfly': '49.45',
  '200m butterfly': '1:50.34',
  '200m individual medley': '1:54.00',
  '400m individual medley': '4:02.50'}}

In [54]:
RECORDS = (0, 2, 4, 5)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

records = {}
for table, course in zip(RECORDS, COURSES):
    df = tables[table][["Event", "Time"]]
    df = df[~df["Event"].str.contains("relay")]
    df = df.set_index("Event")
    records[course] = df.to_dict()["Time"]

In [55]:
import json

with open("records.json") as jf:
    gazpacho_records = json.load(jf)

In [56]:
records == gazpacho_records

True

In [57]:
records["SC Women"]["100m butterfly"]

'52.71'

In [58]:
gazpacho_records["SC Women"]["100m butterfly"]

'52.71'